<section id="atendimento" class="py-16 px-6 bg-white">
    <div class="container mx-auto text-center">
      <h3 class="text-xl md:text-3xl font-bold text-gray-800 mb-8">Atendimento Online e Presencial</h3>
      <div class="space-y-4 max-w-2xl mx-auto text-justify">
        <p class="text-gray-600">Oferecemos atendimento presencial em nosso consultório, bem como sessões online para maior comodidade e flexibilidade.</p>
        <p class="text-gray-600">Com o atendimento online, podemos chegar a mais famílias, garantindo suporte emocional e intervenções eficazes independentemente da localização.</p>
        <p class="text-gray-600">Entre em contato para saber mais sobre as modalidades de atendimento e qual é a mais adequada para você e seu filho.</p>
      </div>
    </div>
  </section>
  