<section id="servicos" class=" py-16 px-6">
  <div class="container mx-auto text-center">
    <h3 class="text-xl md:text-3xl font-bold text-gray-900 mb-8">Por Que Escolher Nossos Serviços?</h3>
    <div class="flex flex-col md:flex-row md:space-x-8 space-y-6 md:space-y-0">
      <div class="flex-1 bg-blue-50 p-6 rounded-lg shadow-sm">
        <h4 class="text-lg md:text-xl font-semibold text-gray-700 mb-2">Intervenção Precoce</h4>
        <p class="text-md text-gray-600">Atendo crianças desde os primeiros sinais de necessidade de apoio, ajudando a construir uma base sólida para o desenvolvimento futuro.</p>
      </div>
      <div class="flex-1 bg-blue-50 p-6 rounded-lg shadow-sm">
        <h4 class="text-lg md:text-xl font-semibold text-gray-700 mb-2">Aplicação de ABA e Denver</h4>
        <p class="text-gray-600">Utilizo as melhores práticas baseadas em ciência, adaptadas de forma individual para cada criança, garantindo progresso contínuo e significativo.</p>
      </div>
      <div class="flex-1 bg-blue-50 p-6 rounded-lg shadow-sm">
        <h4 class="text-lg md:text-xl font-semibold text-gray-700 mb-2">Experiência Comprovada</h4>
        <p class="text-gray-600">Com 1,7 anos de experiência prática, já acompanhei diversas famílias, proporcionando um atendimento acolhedor e personalizado.</p>
      </div>
    </div>
  </div>
</section>
